# Virtual Environment
myenv/
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AI / ML models
*.bin
*.pt
*.h5
*.pkl

# Temp files
*.tmp
*.swp

# Database dumps
dump/